.dashboardContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 40px; 
  width: 100%;
}

.topRow, .bottomRow {
  display: grid;
  grid-template-columns: 340px 1fr;
  gap: 24px;
  width: 100%;
}

.chartGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 0; 
}